# pathes to store repositories and gogs database
REPOSITORIES_VOLUME=/path/to/store/repositories
DB_VOLUME=REPOSITORIES_VOLUME
PORT=3000


# build variables default
GOGS_VERSION=v0.7.33


# change it to change container name
CONTAINER_NAME=gogs


# Makefile required
VOLUMES=\
  -v $(REPOSITORIES_VOLUME):/data/repo\
  -v $(DB_VOLUME):/data/db
PORTS=-p $(PORT):$(PORT)
